.App {
  text-align: center;
}
a{
  text-decoration: none;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 600px;
}
main{
  flex: 1;
  padding: 30px 100px;
  background: #f3f5f6;
}
